extends ../../_components/layout/template

block cool-config 
  -
    var myTitle ='Learn to code JavaScript for beginners ';
    var myDescription = 'JavaScript is quite easy and fun to learn';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/comments';
    
block awesome-stuff
  p JavaScript comments can be used to explain JavaScript code, and to make it more readable. 
  p JavaScript comments can also be used to prevent execution, when testing alternative code.
  h2 Single Line Comments
  p Single line comments start with //.
  p Example: // Change heading:
  document.getElementById("myH").innerHTML = "My First Page";