extends ../_components/layout/template

block cool-config 
  -
    var myTitle ='Learn to code HTML for beginners ';
    var myDescription = 'This is a easy and fun to learn';
    var landingPage = 'HTML';
    var activeLink = '';
    
block awesome-stuff
  h1=myTitle 
  p=myDescription
  h2 HTML Elements 
  p An HTML element usually consists of a start tag and end tag with the content inserted in between. 
  h2 HTML Attributes 
  p Attributes provide aditional information about HTML elements.
  h2 HTML Headings 
  p HEadings are important in HTML documents.