extends ../../_components/layout/template

block cool-config 
  -
    var myTitle ='Learn to code JavaScript for beginners ';
    var myDescription = 'JavaScript is quite easy and fun to learn';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/operators';
    
block awesome-stuff
  p The assignment operator (=) assigns a value to a variable.
  h3 Assignment
  p  var x = 10;
  p The addition assignment operator (+=) adds a value to a variable.
  h3 Assignment
  p var x = 10;
  p x += 5;