extends ../../_components/layout/template

block cool-config 
  -
    var myTitle ='Learn to code JavaScript for beginners ';
    var myDescription = 'JavaScript is quite easy and fun to learn';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/variables';
    
block awesome-stuff
  p JavaScript variables are containers for storing data values.
  p In this example, x, y, and z, are variables, declared with the var keyword:
  h2 Example
  p var x = 5;
  p var y = 6;
  p var z = x + y;