extends ../_components/layout/template

block cool-config 
  -
    var myTitle ='Learn to code JavaScript for beginners ';
    var myDescription = 'JavaScript is quite easy and fun to learn';
    var landingPage = 'JavaScript';
    var activeLink = '';
    
block awesome-stuff
  h1=myTitle 
  p=myDescription
  h2 JavaScript is the world's most popular programming language.
  p we will try it soon
  h2 JavaScript is the programming language of the Web.
  p in few minutes we will test it 
  h2 JavaScript is easy to learn.
  p Doubt it
  h2 This tutorial will teach you JavaScript from basic to advanced.
  p lets see