extends ../../_components/layout/template

block cool-config 
  -
    var myTitle ='Learn to code CSS for beginners ';
    var myDescription = 'This was quite easy and fun to learn';
    var landingPage = 'CSS';
    var activeLink = '/css/backgrounds';
    
block awesome-stuff
  h1=myTitle 
  p=myDescription
  h2 CSS is the language we use to style an HTML document.
  p CSS describes how HTML elements should be displayed
  h2 This tutorial will teach you CSS from basic to advanced.
  p Learn from over 300 examples! With our editor, you can edit the CSS, and click on a button to view the result.
