extends ../../_components/layout/template

block cool-config 
  -
    var myTitle ='Learn to code HTML Elements for beginners ';
    var myDescription = 'n HTML element is defined by a start tag, some content, and an end tag.';
    var landingPage = 'HTML';
    var activeLink = '/html/elements';
    
block awesome-stuff
  h1 The HTML element is everything from the start tag to the end tag

  p Not my first paragraph :) #[br]and we make use of the break tag and #[span(style="color:blue") the "span" tag].