extends ../../_components/layout/template

block cool-config 
  -
    var myTitle ='Learn to code HTML Headings for beginners ';
    var myDescription = 'HTML headings are titles or subtitles that you want to display on a webpage.';
    var landingPage = 'HTML';
    var activeLink = '/html/headings';
    
block awesome-stuff
  h1 This is cool heading
  h2 This is cool heading
  h3 This is cool heading
  h4 This is cool heading
  h5 This is cool heading
  h6 This is cool heading